.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: flex;
}

.features__item {
  width: 270px;

  &:not(last-child) {
      margin-right: 30px;
    }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-primary-title;
}

.features__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-primary-text;
}